/* styles.css */
body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  padding: 0;

  min-height: 65vh;  
  height: 100%;
  
  background-image: url('../img/Fondo2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1, h3 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}



input {
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;

}

button {
  padding: 8px 12px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 6px;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
div {
  text-align: center;
  margin-bottom: 10px;
}
.cursiva {
    font-family: 'Parisienne', cursive;
    font-size: 46px;
}

/* Recuadro blanco del formulario */
.card {
  background: rgba(255, 255, 255, 0.95);
  width: 350px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);

  /* Centrar en pantalla */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

/* Input uno debajo del otro */
.card input[type="text"],
.card input[type="email"] {
  display: block;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #ccc;
}

/* opciones alineado bonito */
.card label {
  display: block;
  margin: 15px 0;
  font-size: 15px;
}

/* Botón centrado y con estilo */
.card button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #5b8dee;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}
#tablaRegistros {
    width: 23%;
    border-collapse: collapse;
    border: 4px solid #4A4A4A;  /* Borde externo grueso */
    border-radius: 12px;        /* Bordes redondeados */
    overflow: hidden;           
    font-family: Arial, sans-serif;
}

#tablaRegistros th,
#tablaRegistros td {
    border: 2px solid #4A4A4A;  /* Bordes internos gruesos */
    padding: 12px;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#tablaRegistros th {
    background-color: #f3f3f3;  /* Color bonito para encabezado */
    font-weight: bold;
}


#resultados {
    width: 23%;
    border-collapse: collapse;
    border: 4px solid #4A4A4A;
    border-radius: 12px;
    overflow: hidden;
    font-family: Arial, sans-serif;

    position: absolute;   /* Fija su posición */
    right: 20px;          /* La mantiene a la derecha */
    top: 350px;           /* Ajusta este valor hasta que quede JUSTO como la quieres */

    background-color: white; /* Evita que se vea raro si pasa algo detrás */
}

#resultados th,
#resultados td {
    border: 2px solid #0e0b0b;  /* Bordes internos gruesos */
    padding: 12px;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#resultados th {
    background-color: #f3f3f3;  /* Color bonito para encabezado */
    font-weight: bold;
}

